body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

th      { text-align: right   }
h3      { font-weight: normal }
input   { padding: 0.5em      }
section { margin: 1em 0       }

table {
  font-size: 1.5em;
  font-family: serif;
}

em {
  font-size: 1rem;
  font-family: sans-serif;
  opacity: 0.5;
}

#formula {
  text-align: center;
  font-family: serif;
  margin: 2em;
}

#error {
  color: #bb3758;
  font-style: italic;
}
